<ion-header no-border>
</ion-header>

<ion-content color="secondary">
  <div class="center-txt">
    <img src="../../assets/icon/icon-lumines.jfif" alt="icon">
    <h6 color="dark">
      Olá! Tudo bem? Hummm... se chegou até nós, você é do tipo de professor(a) que busca ajudar os alunos ao máximo
      correto? Ou então, é aquele tipo de pessoa que gosta de criar desafios e quer coloca-los em teste.
      Enfim, independente do seu objetivo o MATIK oferecer a você, professor(a), uma plataforma para inserir exercícios,
      de forma dinâmica, por meio de perguntas e respostas, junto com esses exercícios é possível compartilhar dicas e
      até verificar como está o desempenho de cada pergunta proposta.
    </h6>
  </div>
  <ion-button routerLink="" fill="clear" color="primary">Proximo</ion-button>
</ion-content>