<ion-header no-border>
</ion-header>

<ion-content color="secondary">
  <div class="center-txt">
    <img src="../../assets/icon/icon-lumines.jfif" alt="icon">
    <h6>
      Olá! Tudo bem? Hummm... se chegou até nós é por que deve estar cansad@ de calcular, resolver e refazer exercícios
      de matemática e esquentar a cabeça, correto? Ou então, está procurando um jogo para testar seus conhecimentos e
      ser desafiado?
      Enfim, independente do seu objetivo o MATIK oferecer a você, estudante, um apoio e treinamento necessário para
      cálculos matemáticos correspondentes ao seu ano letivo. Procuramos de forma lúdica, através de um jogo de
      perguntas e respostas, trazer um pouquinho do mundo dos números, incógnitas e formas geométricas, afim de
      desenvolver melhor a matemática que há em você.
    </h6>
  </div>
  <ion-button routerLink="" fill="clear" color="primary">Proximo</ion-button>
</ion-content>